<div class="contaider p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Agrega Bloques / Nombre Aleatorio</h3>
                </div>
                <div class="card-body">
                    <form action="/bloque/add" method="post">
                        <div class="form-group">
                            <label for="">Nombre del Bloque</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Nombre Bloque" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Tipo de material</label>
                            <select class="form-control" name="tipo_material" placeholder="Tipo de material" autofocus
                                required>
                                <option value="3d">3d</option>
                                <option value="Sagemax">Sagemax</option>
                                <option value="Stc">Stc</option>
                                <option value="Shtc">Shtc</option>
                                <option value="Shtm">Shtm</option>
                                <option value="CrCo">CrCo</option>
                                <option value="Titan">Titan</option>
                                <option value="Pmma">Pmma</option>
                                <option value="ShofuHc">ShofuHc</option>
                                <option value="PmmaMl">PmmaMl</option>
                                <option value="HtwOpaco">HtwOpaco</option>
                                <option value="Aizir">Aizir</option>
                                <option value="Peek">Peek</option>
                                <option value="Wax">Wax</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="factor_contraccion">Factor de contracción</label>
                            <input type="text" class="form-control" id="factor_contraccion" name="factor_contraccion"
                                placeholder="Factor de contracción del Bloque">
                        </div>
                        <div class="form-group">
                            <label for="">Codigo de barras del Bloque</label>
                            <input type="text" class="form-control" id="codigo_barras" name="codigo_barras"
                                placeholder="Codigo de Barras del Bloque">
                        </div>
                        <div class="form-group">
                            <label for="">Lote</label>
                            <input type="text" class="form-control" name="cantidad" placeholder="Lote" autofocus
                                required>
                        </div>

                        <div class="form-group">
                            <label for="">Color (VITA Clásica):</label>
                            <select class="form-control" name="color" placeholder="Color (VITA Clásica):" autofocus
                                required>
                                <option value="A1">A1</option>
                                <option value="A2" selected>A2</option>
                                <option value="A3">A3</option>
                                <option value="A3.5">A3.5</option>
                                <option value="A4">A4</option>
                                <option value="B1">B1</option>
                                <option value="B2">B2</option>
                                <option value="B3">B3</option>
                                <option value="B4">B4</option>
                                <option value="C1">C1</option>
                                <option value="C2">C2</option>
                                <option value="C3">C3</option>
                                <option value="C4">C4</option>
                                <option value="D2">D2</option>
                                <option value="D3">D3</option>
                                <option value="D4">D4</option>
                                <option value="0M1">0M1</option>
                                <option value="0M2">0M2</option>
                                <option value="0M3">0M3</option>
                                <option value="BL1">BL1</option>
                                <option value="BL2">BL2</option>
                                <option value="BL3">BL3</option>
                                <option value="BL4">BL4</option>
                                <option value="White">White</option>
                                <option value="BlancoOpaco">BlancoOpaco</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Tamaño</label>
                            <select class="form-control" name="tamano" placeholder="Tamaño" autofocus required>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="12" selected>12</option>
                                <option value="14">14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="20">20</option>
                                <option value="22">22</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                        <!-- Muestra de ubicación -->
                        {{!-- <div class="form-group">
                            <label for="ubicacion_mensaje">Ubicación Obligatoria del Bloque:</label>
                            <div id="ubicacion_mensaje" class="alert alert-info">Selecciona tipo y tamaño para sugerir
                                ubicación.</div>
                        </div> --}}

                        <!-- Oculto que se envía al backend -->
                        <!--<input type="hidden" name="ubicacion" id="ubicacion"> -->
                        <div class="form-group" style="display: none;">
                            <select type="hidden" name="id_operario" id="id_operario" class="form-control" readonly>
                                <!-- Itera sobre el array de operarios -->
                                {{#each operarios}}
                                <option value="{{id_operario}}">{{fullname}} (ID: {{id_operario}})</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // Obtener el último número autoincrementable desde localStorage o inicializarlo en 1
    // let numeroIncremental = localStorage.getItem("numeroIncremental") ? parseInt(localStorage.getItem("numeroIncremental")) : 1;

    const frutas = [
        "Manzana", "Platano", "Pera", "Naranja", "Uva", "Melon", "Sandia", "Fresa", "Pina", "Durazno",
        "Mango", "Papaya", "Kiwi", "Cereza", "Ciruela", "Granada", "Mora", "Limon", "Guayaba", "Maracuya",
        "Mandarina", "Aguacate", "Mamon", "Pomelo", "Tamarindo", "Zapote", "Coco", "Almendra", "Castana",
        "Nispero", "Mamey", "Tamarillo", "Feijoa", "Anon", "Arandano", "Caimito", "Jocote", "Lucuma",
        "Chontaduro", "Borojo", "Uchuva", "Sapote", "Maranon", "Corozo", "Grosella", "Guanabana",
        "Granadilla", "Guama", "Curuba", "Nance", "Uvilla", "Higo", "Damasco", "Acerola", "Carambola",
        "Tumbo", "Pitaya", "Guayusa", "Aguaymanto", "Motilon", "Naranjilla", "Papayuela", "CamuCamu",
        "Guarana", "Mamoncillo", "Yacon", "Lulo", "Copoazu", "Ciriguelo", "Tuna", "Achotillo",
        "Guavira", "Bacaba", "Quinoto", "Pepinodulce", "Anacardo", "Jambolan", "Hicaco", "Mangaba",
        "Chirimoya", "Mameyrojo", "Passiflora", "Moriche", "Biriba", "Guaimaro", "Ciruelaamarilla",
        "Totai", "Yatay", "Sapotilla", "Guacio", "Tamarin", "Pomelorosado", "Aguacatillo", "Guayurita",
        "Cerezanegra", "Ciruelaverde", "Mangodeagua", "Granadillo", "Melonpepino", "Boldo", "Camotillo",
        "Tamico", "Jerguillo", "Tumbita", "Cambiurrito", "Guavito", "Jocotenegro", "Ciruelillo",
        "Aguaimanto", "Morochillo", "Araza", "Cafe", "Tayuya", "Mirtorojo", "Sapucaia", "Mirtonegro",
        "Tomatedearbol", "Limonmandarino", "Guabira", "Ciriguelon", "Mangobanilejo", "Guayabitadelperu",
        "Jurucu", "Guavo", "Guapuru", "Pajure", "Pistacho", "Cocona", "Marasmo", "Siriguela", "Chorrito",
        "Limonta", "Pandano", "Pequi", "Ubajara", "Cherry", "Aguajillo", "Murta", "Bagua", "Melonamarillo",
        "Durian", "Falsaguayaba", "Graviola", "Nutria", "Guabo", "Jacaranda", "Guavilla", "Safarana",
        "Tomatesilvestre", "Carambolapequena", "Pomelodulce", "Cajuillo", "Sandiaamarilla"
    ];

    const coloresAleatorios = [
        "Rojo", "Azul", "Verde", "Amarillo", "Negro", "Blanco", "Rosa", "Morado", "Naranja", "Gris",
        "Turquesa", "Violeta", "Fucsia", "Marron", "Beige", "Celeste", "Coral", "Lavanda", "Lila",
        "Aqua", "Indigo", "Oro", "Plata", "Bronce", "Verdeoliva", "Verdelima", "Verdebosque",
        "Verdepasto", "Azulmarino", "Azulclaro", "Azulturquesa", "Amarillopastel", "Naranjapastel",
        "Rosapalido", "Purpura", "Menta", "Cafe", "Rojovino", "Grisperla", "Verdemusgo",
        "Amarillomostaza", "Lima", "Azulelectrico", "Cian", "Salmon", "Caramelo", "Rosado",
        "Verdeesmeralda", "Naranjaquemado", "Rosapalo", "Cobre", "Amarillocanario", "Marfil",
        "Azulpetroleo", "Vinotinto", "Terracota", "Rojocarmesi", "Cobalto", "Magenta", "Ambar",
        "Tangerina", "Tierra", "Madera", "Mostaza", "Aguamarina", "Grishumo",
        "Granate", "Naranjamandarina", "Ladrillo", "Moradointenso",
        "Olivaclaro", "Ceniza", "Fuego", "Cielo", "Agave", "Arena", "Piel",
        "Lava", "Ocre", "Cacao", "Malva", "Canela", "Cocoa",
        "Barro", "Pastel", "Vainilla", "Verdehoja", "Azulcielo", "Verdeamazonas",
        "Moradoberenjena", "Rosachicle", "Pistacho", "Tabaco", "Azafran",
        "Grisazulado", "Perla", "Palorosa", "Moradooscuro", "Verdejungle", "Grisclaro",
        "Nieve", "Bronceado", "Chicle", "Plomo", "Nube", "Esmeralda",
        "Amatista", "Grafito", "Cenizaoscura", "Tormenta", "Antracita", "Humoazul",
        "Zafiro", "Lapislazuli", "Aluminio", "Griscarbon", "Bermejo", "Mangomaduro",
        "Jade", "Turmalina", "Carmesi", "Rosadopolvo", "Grisraton", "Turquesaoscuro",
        "Rojoferrari", "Verdeprimavera", "Ciruela", "Opalo", "Verdelimon", "Pizarra",
        "Mostazaoscuro", "Ladrillosuave", "Azularandano", "Lilaoscuro", "Platavieja", "Moradomedio",
        "Verdefluorescente", "Amarillofluorescente", "Rojooscuro", "Verdehierba", "Azulcobalto",
        "Rosadoneon", "Grisacero", "Naranjaneon", "Lilapastel", "Verdeboscoso",
        "Rosapastel", "Violetaoscuro", "Terracotaclaro", "Doradooscuro", "Turquesaclaro",
        "Verdeolivaoscuro", "Cianoscuro", "Azulceniza", "Moradoneon", "Rojogranada"
    ];

    // Función para generar un nombre aleatorio para el bloque
    function generarNombreBloque() {
        const tipo_material = document.querySelector('[name="tipo_material"]').value;  // Tipo de material seleccionado
        const color = document.querySelector('[name="color"]').value;  // Color VITA seleccionado
        const tamano = document.querySelector('[name="tamano"]').value;  // Tamaño seleccionado

        // Selección aleatoria de una fruta y un color
        const frutaAleatoria = frutas[Math.floor(Math.random() * frutas.length)];
        const colorAleatorio = coloresAleatorios[Math.floor(Math.random() * coloresAleatorios.length)];

        // Generar el nombre del bloque en el formato: TipoMaterial-Fruta-Color-ColorVita-HTamaño
        // let nombreBloque = `${tipo_material}${frutaAleatoria}${colorAleatorio}${color}H${tamano}`;

        // Si el tipo de material es TITAN o CR CO, no incluir color
        if (tipo_material === 'Titan' || tipo_material === 'CrCo' || tipo_material === 'Peek' || tipo_material === 'Wax') {
            nombreBloque = `${tipo_material}${frutaAleatoria}${colorAleatorio}H${tamano}`;
        } else {
            nombreBloque = `${tipo_material}${frutaAleatoria}${colorAleatorio}${color}H${tamano}`;
        }

        // Colocar el nombre generado en el campo de texto
        document.getElementById("nombre").value = nombreBloque;

        // Mostrar u ocultar el campo de color dependiendo del tipo de material
        const colorField = document.querySelector('[name="color"]').closest('.form-group');

        if (tipo_material === 'Titan' || tipo_material === 'CrCo' || tipo_material === 'Peek' || tipo_material === 'Wax') {
            colorField.style.display = 'none';
        } else {
            colorField.style.display = 'block';
        }

        // Ocultar o mostrar el campo de factor de contracción dependiendo del tipo de material
        const factorContraccionField = document.querySelector('[name="factor_contraccion"]').closest('.form-group');
        const factorContraccionInput = document.querySelector('[name="factor_contraccion"]');

        if (["3d", "Sagemax", "Stc", "Shtc", "Shtm", "HtwOpaco", "Aizir"].includes(tipo_material)) {
            factorContraccionField.style.display = 'block'; // Mostrar el campo
        } else {
            factorContraccionField.style.display = 'none'; // Ocultar el campo
            factorContraccionInput.value = "-"; // Asignar "-" cuando se oculta
        }
    }

    // Llamar a la función cuando se cambian los valores del formulario
    document.addEventListener("DOMContentLoaded", function () {
        // Generar el nombre automáticamente al cargar la página
        generarNombreBloque();

        // Establecer eventos para actualizar el nombre cuando se cambian los campos
        const campos = document.querySelectorAll('[name="tipo_material"], [name="color"], [name="tamano"]');
        campos.forEach(campo => {
            campo.addEventListener("change", generarNombreBloque);
        });

        // Manejar el envío del formulario
        const form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            const tipo_material = document.querySelector('[name="tipo_material"]').value;
            const colorField = document.querySelector('[name="color"]');

            //numeroIncremental++;  // Aumentar solo al guardar
            //localStorage.setItem("numeroIncremental", numeroIncremental);

            // Si el material es Titan o CrCo, establecer el valor del color a 'sin color'
            if (tipo_material === 'Titan' || tipo_material === 'CrCo' || tipo_material === 'Peek' || tipo_material === 'Wax') {
                colorField.value = 'sin color'; // Asignar 'sin color' si es Titan o CrCo
            }

            // Si el valor de color es null o vacío, asignar 'sin color'
            if (!colorField.value) {
                colorField.value = 'sin color';
            }

            // const factorContraccion = document.getElementById("factor_contraccion").value;
            // alert("Factor de contracción: " + factorContraccion);

            // Verificar que el valor de color se cambió correctamente a 'sin color'
            console.log('Valor de color antes de enviar:', colorField.value); // Para depuración, puedes verificar el valor aquí
            e.preventDefault();
        });

    });
</script>