<div class="contaider p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Agrega Bloques / Nombre Aleatorio</h3>
                </div>
                <div class="card-body">
                    <form action="/bloque/add" method="post">
                        <div class="form-group">
                            <label for="">Nombre del Bloque</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Nombre Bloque" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Tipo de material</label>
                            <select class="form-control" name="tipo_material" placeholder="Tipo de material" autofocus
                                required>
                                <option value="3D">3D</option>
                                <option value="SAGEMAX">SAGEMAX</option>
                                <option value="STC">STC</option>
                                <option value="SHTC">SHTC</option>
                                <option value="SHTM">SHTM</option>
                                <option value="CR CB">CR CB</option>
                                <option value="TITAN">TITAN</option>
                                <option value="PMMA">PMMA</option>
                                <option value="SHOFU HC">SHOFU HC</option>
                                <option value="PMMA ML">PMMA ML</option>
                                <option value="HTW OPACO">HTW OPACO</option>
                                <option value="AIZIR">AIZIR</option>
                                <option value="PEEK">PEEK</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="factor_contraccion">Factor de contracción</label>
                            <input type="text" class="form-control" id="factor_contraccion" name="factor_contraccion"
                                placeholder="Factor de contracción del Bloque">
                        </div>
                        <div class="form-group">
                            <label for="">Codigo de barras del Bloque</label>
                            <input type="text" class="form-control" id="codigo_barras" name="codigo_barras"
                                placeholder="Codigo de Barras del Bloque">
                        </div>
                        <div class="form-group">
                            <label for="">Lote</label>
                            <input type="text" class="form-control" name="cantidad" placeholder="Lote" autofocus
                                required>
                        </div>

                        <div class="form-group">
                            <label for="">Color (VITA Clásica):</label>
                            <select class="form-control" name="color" placeholder="Color (VITA Clásica):" autofocus
                                required>
                                <option value="A1">A1</option>
                                <option value="A2" selected>A2</option>
                                <option value="A3">A3</option>
                                <option value="A3.5">A3.5</option>
                                <option value="A4">A4</option>
                                <option value="B1">B1</option>
                                <option value="B2">B2</option>
                                <option value="B3">B3</option>
                                <option value="B4">B4</option>
                                <option value="C1">C1</option>
                                <option value="C2">C2</option>
                                <option value="C3">C3</option>
                                <option value="C4">C4</option>
                                <option value="D2">D2</option>
                                <option value="D3">D3</option>
                                <option value="D4">D4</option>
                                <option value="0M1">0M1</option>
                                <option value="0M2">0M2</option>
                                <option value="0M3">0M3</option>
                                <option value="BL1">BL1</option>
                                <option value="BL2">BL2</option>
                                <option value="BL3">BL3</option>
                                <option value="BL4">BL4</option>
                                <option value="WHITE">WHITE</option>
                                <option value="BLANCO OPACO">BLANCO OPACO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Tamaño</label>
                            <select class="form-control" name="tamano" placeholder="Tamaño" autofocus required>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="12" selected>12</option>
                                <option value="14">14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="20">20</option>
                                <option value="22">22</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                        <!-- Muestra de ubicación -->
                        {{!-- <div class="form-group">
                            <label for="ubicacion_mensaje">Ubicación Obligatoria del Bloque:</label>
                            <div id="ubicacion_mensaje" class="alert alert-info">Selecciona tipo y tamaño para sugerir
                                ubicación.</div>
                        </div> --}}

                        <!-- Oculto que se envía al backend -->
                        {{!-- <input type="hidden" name="ubicacion" id="ubicacion">
                        <div class="form-group" style="display: none;">
                            <select type="hidden" name="id_operario" id="id_operario" class="form-control" readonly>
                                <!-- Itera sobre el array de operarios -->
                                {{#each operarios}}
                                <option value="{{id_operario}}">{{fullname}} (ID: {{id_operario}})</option>
                                {{/each}}
                            </select>
                        </div> --}}
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // Obtener el último número autoincrementable desde localStorage o inicializarlo en 1
    // let numeroIncremental = localStorage.getItem("numeroIncremental") ? parseInt(localStorage.getItem("numeroIncremental")) : 1;

    const frutas = [
        "MANZANA", "PLATANO", "PERA", "NARANJA", "UVA", "MELON", "SANDIA", "FRESA", "PINA", "DURAZNO",
        "MANGO", "PAPAYA", "KIWI", "CEREZA", "CIRUELA", "GRANADA", "MORA", "LIMON", "GUAYABA", "MARACUYA",
        "MANDARINA", "AGUACATE", "MAMON", "POMELO", "TAMARINDO", "ZAPOTE", "COCO", "ALMENDRA", "CASTANA",
        "NISPERO", "MAMEY", "TAMARILLO", "FEIJOA", "ANON", "ARANDANO", "CAIMITO", "JOCOTE", "LUCUMA",
        "CHONTADURO", "BOROJO", "UCHUVA", "SAPOTE", "MARANON", "COROZO", "GROSELLA", "GUANABANA",
        "GRANADILLA", "GUAMA", "CURUBA", "NANCE", "UVILLA", "HIGO", "DAMASCO", "ACEROLA", "CARAMBOLA",
        "TUMBO", "PITAYA", "GUAYUSA", "AGUAYMANTO", "MOTILON", "NARANJILLA", "PAPAYUELA", "CAMU CAMU",
        "GUARANA", "MAMONCILLO", "YACON", "LULO", "COPOAZU", "CIRIGUELO", "TUNA", "ACHOTILLO",
        "GUAVIRA", "BACABA", "QUINOTO", "PEPINO DULCE", "ANACARDO", "JAMBOLAN", "HICACO", "MANGABA",
        "CHIRIMOYA", "MAMEY ROJO", "PASSIFLORA", "MORICHE", "BIRIBA", "GUAIMARO", "CIRUELA AMARILLA",
        "TOTAI", "YATAY", "SAPOTILLA", "GUACIO", "TAMARIN", "POMELO ROSADO", "AGUACATILLO", "GUAYURITA",
        "CEREZA NEGRA", "CIRUELA VERDE", "MANGO DE AGUA", "GRANADILLO", "MELON PEPIÑO", "BOLDO", "CAMOTILLO",
        "TAMICO", "JERGUILLO", "TUMBITA", "CAMBIURRITO", "GUAVITO", "JOCOTE NEGRO", "CIRUELILLO",
        "AGUAIMANTO", "MOROCHILLO", "ARAZA", "CAFE", "TAYUYA", "MIRTO ROJO", "SAPUCAIA", "MIRTO NEGRO",
        "TOMATE DE ARBOL", "LIMON MANDARINO", "GUABIRA", "CIRIGUELON", "MANGO BANILEJO", "GUAYABITA DEL PERU",
        "JURUCU", "GUAVO", "GUAPURU", "PAJURE", "PISTACHO", "COCONA", "MARASMO", "SIRIGUELA", "CHORRITO",
        "LIMONTA", "PANDANO", "PEQUI", "UBAJARA", "CHERRY", "AGUAJILLO", "MURTA", "BAGUA", "MELON AMARILLO",
        "DURIAN", "FALSA GUAYABA", "GRAVIOLA", "NUTRIA", "GUABO", "JACARANDA", "GUAVILLA", "SAFARANA",
        "TOMATE SILVESTRE", "CARAMBOLA PEQUENA", "POMELO DULCE", "CAJUILLO", "SANDIA AMARILLA"
    ];

    const coloresAleatorios = [
        "ROJO", "AZUL", "VERDE", "AMARILLO", "NEGRO", "BLANCO", "ROSA", "MORADO", "NARANJA", "GRIS",
        "TURQUESA", "VIOLETA", "FUCSIA", "MARRON", "BEIGE", "CELESTE", "CORAL", "LAVANDA", "LILA",
        "AQUA", "INDIGO", "ORO", "PLATA", "BRONCE", "VERDE OLIVA", "VERDE LIMA", "VERDE BOSQUE",
        "VERDE PASTO", "AZUL MARINO", "AZUL CLARO", "AZUL TURQUESA", "AMARILLO PASTEL", "NARANJA PASTEL",
        "ROSA PALIDO", "PURPURA", "MENTA", "CAFE", "ROJO VINO", "GRIS PERLA", "VERDE MUSGO",
        "AMARILLO MOSTAZA", "LIMA", "AZUL ELECTRICO", "CIAN", "SALMON", "CARAMELO", "ROSADO",
        "VERDE ESMERALDA", "NARANJA QUEMADO", "ROSA PALO", "COBRE", "AMARILLO CANARIO", "MARFIL",
        "AZUL PETROLEO", "VINO TINTO", "TERRACOTA", "ROJO CARMESI", "COBALTO", "MAGENTA", "AMBAR",
        "TANGERINA", "TIERRA", "MADERA", "MOSTAZA", "AGUAMARINA", "GRIS HUMO",
        "GRANATE", "NARANJA MANDARINA", "LADRILLO", "MORADO INTENSO",
        "OLIVA CLARO", "CENIZA", "FUEGO", "CIELO", "AGAVE", "ARENA", "PIEL",
        "LAVA", "OCRE", "CACAO", "MALVA", "CANELA", "COCOA",
        "BARRO", "PASTEL", "VAINILLA", "VERDE HOJA", "AZUL CIELO", "VERDE AMAZONAS",
        "MORADO BERENJENA", "ROSA CHICLE", "PISTACHO", "TABACO", "AZAFRAN",
        "GRIS AZULADO", "PERLA", "PALO ROSA", "MORADO OSCURO", "VERDE JUNGLE", "GRIS CLARO",
        "NIEVE", "BRONCEADO", "CHICLE", "PLOMO", "NUBE", "ESMERALDA",
        "AMATISTA", "GRAFITO", "CENIZA OSCURA", "TORMENTA", "ANTRACITA", "HUMO AZUL",
        "ZAFIRO", "LAPISLAZULI", "ALUMINIO", "GRIS CARBON", "BERMEJO", "MANGO MADURO",
        "JADE", "TURMALINA", "CARMESI", "ROSADO POLVO", "GRIS RATÓN", "TURQUESA OSCURO",
        "ROJO FERRARI", "VERDE PRIMAVERA", "CIRUELA", "OPALO", "VERDE LIMÓN", "PIZARRA",
        "MOSTAZA OSCURO", "LADRILLO SUAVE", "AZUL ARÁNDANO", "LILA OSCURO", "PLATA VIEJA", "MORADO MEDIO",
        "VERDE FLUORESCENTE", "AMARILLO FLUORESCENTE", "ROJO OSCURO", "VERDE HIERBA", "AZUL COBALTO",
        "ROSADO NEÓN", "GRIS ACERO", "NARANJA NEÓN", "LILA PASTEL", "VERDE BOSCOSO",
        "ROSA PASTEL", "VIOLETA OSCURO", "TERRACOTA CLARO", "DORADO OSCURO", "TURQUESA CLARO",
        "VERDE OLIVA OSCURO", "CIAN OSCURO", "AZUL CENIZA", "MORADO NEÓN", "ROJO GRANADA"
    ];

    // Función para generar un nombre aleatorio para el bloque
    function generarNombreBloque() {
        const tipo_material = document.querySelector('[name="tipo_material"]').value;  // Tipo de material seleccionado
        const color = document.querySelector('[name="color"]').value;  // Color VITA seleccionado
        const tamano = document.querySelector('[name="tamano"]').value;  // Tamaño seleccionado

        // Selección aleatoria de una fruta y un color
        const frutaAleatoria = frutas[Math.floor(Math.random() * frutas.length)];
        const colorAleatorio = coloresAleatorios[Math.floor(Math.random() * coloresAleatorios.length)];

        // Generar el nombre del bloque en el formato: TipoMaterial-Fruta-Color-ColorVita-HTamaño
        let nombreBloque = `${tipo_material}-${frutaAleatoria}-${colorAleatorio}-${color}-H${tamano}`;

        // Si el tipo de material es TITAN o CR CB, no incluir color
        if (tipo_material === 'TITAN' || tipo_material === 'CR CB') {
            nombreBloque = `${tipo_material}-${frutaAleatoria}-${colorAleatorio}-H${tamano}`;
        } else {
            nombreBloque = `${tipo_material}-${frutaAleatoria}-${colorAleatorio}-${color}-H${tamano}`;
        }

        // Colocar el nombre generado en el campo de texto
        document.getElementById("nombre").value = nombreBloque;

        // Mostrar u ocultar el campo de color dependiendo del tipo de material
        const colorField = document.querySelector('[name="color"]').closest('.form-group');

        if (tipo_material === 'TITAN' || tipo_material === 'CR CB') {
            colorField.style.display = 'none';
        } else {
            colorField.style.display = 'block';
        }

        // Ocultar o mostrar el campo de factor de contracción dependiendo del tipo de material
        const factorContraccionField = document.querySelector('[name="factor_contraccion"]').closest('.form-group');
        const factorContraccionInput = document.querySelector('[name="factor_contraccion"]');

        if (["3D", "SAGEMAX", "STC", "SHTC", "SHTM", "HTW OPACO", "AIZIR"].includes(tipo_material)) {
            factorContraccionField.style.display = 'block'; // Mostrar el campo
            factorContraccionInput.value = ""; // Limpiar el valor si se muestra
        } else {
            factorContraccionField.style.display = 'none'; // Ocultar el campo
            factorContraccionInput.value = "-"; // Asignar "-" cuando se oculta
        }
    }

    // Llamar a la función cuando se cambian los valores del formulario
    document.addEventListener("DOMContentLoaded", function () {
        // Generar el nombre automáticamente al cargar la página
        generarNombreBloque();

        // Establecer eventos para actualizar el nombre cuando se cambian los campos
        const campos = document.querySelectorAll('[name="tipo_material"], [name="color"], [name="tamano"]');
        campos.forEach(campo => {
            campo.addEventListener("change", generarNombreBloque);
        });

        // Manejar el envío del formulario
        const form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            const tipo_material = document.querySelector('[name="tipo_material"]').value;
            const colorField = document.querySelector('[name="color"]');

            //numeroIncremental++;  // Aumentar solo al guardar
            //localStorage.setItem("numeroIncremental", numeroIncremental);

            // Si el material es TITAN o CR CB, establecer el valor del color a 'sin color'
            if (tipo_material === 'TITAN' || tipo_material === 'CR CB') {
                colorField.value = 'sin color'; // Asignar 'sin color' si es TITAN o CR CB
            }

            // Si el valor de color es null o vacío, asignar 'sin color'
            if (!colorField.value) {
                colorField.value = 'sin color';
            }

            // const factorContraccion = document.getElementById("factor_contraccion").value;
            // alert("Factor de contracción: " + factorContraccion);

            // Verificar que el valor de color se cambió correctamente a 'sin color'
            console.log('Valor de color antes de enviar:', colorField.value); // Para depuración, puedes verificar el valor aquí
        });

    });
</script>