<main class="index">
    <header class="masthead">
        <div class="container text-center my-auto">
            <img src="/img/logo.png" alt="Logo Macrodent" class="card-img-top mx-auto m-2 rounded-circle">
            <h1 class="mb-1">Agrega Bloques</h1>
            <h3 class="mb-5">
                <em>Centro de fresado Macrodent</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Let's Go!
            </a>
        </div>
    </header>
</main>